/** Meyer Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;
}

#parent,
body{
    width: 100%;
    min-height: 100vh;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Initial Page Layout - page.js */
#parent{
    display: grid;
    grid-template-columns: 0.7fr 3fr;
    grid-template-rows: 0.8fr  4fr 0.3fr;
    font-size: 20px;
}

.header{
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    font-size: 40px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}

img[src*=check]{
    width: 50px;
    height: 50px;
}

.footer{
    grid-area: 3 / 1 / 4 / 3 ;
    background-color: var(--primary-dark);
}

.sidebar{
    background-color: var(--secondary-light);
}

.inbox{
    background-color: var(--primary-light);
    padding: 30px 250px;
    display: flex;
    flex-direction: column;
}

/* Inbox Content - inbox.js*/

.inboxTitle{
    font-size: 32px;
    font-weight: bold;
    color: var(--primary-dark);
    padding-bottom: 20px;
}

.addTask{
    border: none;
    border-radius: 6px;
    display: flex;
    padding: 10px;
    font-size: 18px;
    color: var(--primary-dark);
}

.addTask:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

/*  Modal */
form{
    width: 300px;
    height: 280px;
    background-color: var(--secondary-light);
    border: 1px solid var(--secondary-light);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr) 0.5fr 0.5fr 1fr;
    padding: 20px;
    color: var(--primary-dark);
}

input[name*=title], /* First 3 child's of form - title,desc and date input fields in the modal*/
input[name*=description],
input[name*=date]{
    grid-column: 1 / -1;
    width: 95%;
    height: 40px;
    border-radius:6px;
    border: 1px solid var(--secondary-light);
    font-size:18px;
    color: var(--primary-dark);
    padding-left: 10px;
    margin-bottom: 5px;
}

label[for*=important]{ /* Labels of the radio buttons in the modal*/
    grid-area: 4 / 1 / 5  / 2;
    color: rgba(200, 0, 0, 0.5);
}

label[for*=lessImportant]{
    grid-area: 5 / 1 / 6 / 2;
}

.addBtn,
.rmvBtn{
    border-radius:6px;
    border: 1px solid var(--secondary-light);
    font-size:18px;
    color: var(--primary-dark);
    width: 145px;
    height: 40px;
    margin: 20px 3px 3px 0px;
}

.addBtn{
    background-color: rgba(0, 200, 0, 0.5);
}

.rmvBtn{
    background-color: rgba(200, 0, 0, 0.5);
}

.addBtn:hover{
    background-color: rgba(0, 200, 0, 0.4);
}

.rmvBtn:hover{
    background-color: rgba(200, 0, 0, 0.4);
}

/* Objects / Todos */
.obj{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: var(--primary-dark);
    border:none;
    border-radius: 6px;
}

.obj:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.objTitle{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.objDesc{
    grid-area: 2 / 1 / 3 / 2;
    font-size: 18px;
    margin-left: 15px;
}

.objDate{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}